version: "3"
services:
    napcat:
        environment:
            - NAPCAT_UID=0
            - NAPCAT_GID=0
        ports:
            - 3000:3000
            - 3001:3001
            - 6099:6099
        volumes:
            - ./config:/app/napcat/config
            - ./qq:/app/.config/QQ
            - qq_jm_bot:/app/tmp
        container_name: napcat
        restart: unless-stopped
        image: mlikiowa/napcat-docker:latest

    qq_jm_bot:
        container_name: qq_jm_bot
        restart: unless-stopped
        tty: true
        ports:
            - 5678:5678
        links:
            - napcat
        build: 
            context: ./qq_jm_bot
            args:
                PROXY: http://host.docker.internal:7891
        volumes:
            - qq_jm_bot:/app/tmp
        extra_hosts:
            - "host.docker.internal:host-gateway"

volumes:
    qq_jm_bot: